<nav class="nav-fixed">
      <div class="nav-center">
        <!-- nav header -->
        <div class="nav-header">
          <%= link_to 'HelicopterRenting', root_path, class: 'navbar-brand' %>
          <button class="nav-toggle">
            <i class="fas fa-bars"></i>
          </button>
        </div>
        <!-- links -->
        
        <ul class="links">
          <li>
            <form class="navbar-form navbar-left" role="search">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
              </div>
              <button type="submit" class="btn btn-flat">Search</button>
            </form>
          </li>
          <li>
            
          </li>
          <li>
          <button type="button" class="btn btn-flat">
            <%= link_to 'Sign In', new_user_session_path%>
          </button>
            
    
          </li>
          <li>
          <button type="button" class="btn btn-flat">
            <%= link_to 'Sign Up', new_user_registration_path %>
          </button>
            
          </li>
        </ul>
      </div>
    </nav>