/*
=============== 
Navbar
===============
*/

.back-white{
  background: white;
}

.nav-fixed {
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  overflow: hidden;
}
nav {
  background: transparent;
  transition: 0.5s background-color ease;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.nav-toggle {
  
  color: hsl(205, 78%, 60%);
  background: transparent;
  border-color: transparent;
  transition: all 0.3s linear;
  cursor: pointer;
}
.nav-toggle:hover {
  color: white;
  transform: rotate(90deg);
}
.logo {
  height: 40px;
}
.links li {
  color:  black;
  text-transform: capitalize;
  display: block;
  transition: all 0.3s linear;
}
.btn, .form-control{
  margin-right:10px;
  margin-top:10px;
}


.links {
  height: 0;
  overflow: hidden;
  transition: all 0.3s linear;
  align-items: center;
}
.show-links {
  height: 250px;
  background-color: white;
}

.btn-flat{
  color:white !important;
  background:#9955cc !important;
}
.btn-primary{
  background:#dd1188 !important;
  }
.brand-one{
  letter-spacing: 3px;
  font-size: 24px;
  color: #dd1188;
}
.btn-flat:hover{
  color: #FFFFFF!important;
  text-decoration: none;
}
.brand-two{
  letter-spacing: 3px;
  font-size: 24px;
  color:#9955cc;
}

.brand-one:hover,.brand-two:hover {
  color: #FFFFFF;
  text-decoration: none;
}

@media screen and (min-width: 800px) {
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .links {
    height: auto;
    display: flex;
  }
}
